/** {*/
/*border: solid 1px red;*/
/*}*/


/*FONTS START*/

@font-face {
    font-family: 'Sansation Light';
    font-style: normal;
    font-weight: normal;
    src: local('Sansation Light'), url('../fonts/sansation/Sansation_Light.woff') format('woff');
}


@font-face {
    font-family: 'Sansation';
    font-style: normal;
    font-weight: normal;
    src: local('Sansation'), url('../fonts/sansation/Sansation_Regular.woff') format('woff');
}


@font-face {
    font-family: 'Sansation Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Sansation Bold'), url('../fonts/sansation/Sansation_Bold.woff') format('woff');
}
/*FONTS END*/

/*ANIMATIONS START*/

@keyframes type{
    from { width: 0; }
}

@keyframes type2{
    0%{width: 0;}
    50%{width: 0;}
    100%{ width: 100; }
}

@keyframes blink{
    to{opacity: .0;}
}


@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

/*ANIMATIONS END*/


/*UNKNOWN CLASSES START*/



.bg-green {
    background: #8cce1e;
}

.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}

.content-section {
    padding-top: 100px;
}

.download-section {
    width: 100%;
    padding: 50px 0;
    color: #fff;
    background: url(../img/downloads-bg.jpg) no-repeat center center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.globe-text-right {
    position: relative;
    left: 7px;
}

.img-center {
    margin: 0 auto;
}

.img-full {
    margin: 0;
    width: 100%;
}

.img-medium {
    width: 80px;
}

.light {
    font-weight: 400;
}

.light-gray {
    color: #fafafa;
}

.people-icon {

    display: inline-block;
    width: 50.3px;
    height: 50.3px;
    background: url('../img/multiple-users-silhouette.svg');
    margin-left: 10px;
}




.text-red {
    color: #d71919;
}

.text-dark {
    color: hsla(47, 28%, 21%, 1)
}

.text-grey {
    color: #777;
}

.text-light-grey {
    color: darkgray;
}

.text-lighter-grey {
    color: lightgray;
}

.text-black {
    color: black;
}

.text-white {
    color: white;
}

ul.banner-social-buttons {
    margin-top: 0;
}


/*UNKNOWN CLASSES END*/

/*UNKNOWN ID START*/


#map {
    width: 100%;
    height: 200px;
    margin-top: 100px;
}
/*UNKNOWN ID END*/

/*GENERAL CLASSES START*/

a {
    color: grey;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    outline: none;
}

a:hover,
a:focus {
    text-decoration: none;
    color: white;
    outline: none;
}

body {
     width: 100%;
     height: 100%;
     font-family: 'PT Sans', sans-serif;
     color: black;
     font-size: 3.5vmin;
}

.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid red;
    color: red;
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid red;
    outline: 0;
    color: white;
    background: red;
}


.button {
    font-weight: 700;
    text-transform: uppercase;
    padding: 20px 50px 20px 50px;
}

/*Button Transitions*/

.button {
    position: relative;
    color: #fff;
    opacity: 0;
    background: #29303a;
    border-radius: 1em;

    transition: opacity .3s .2s, background .4s .3s, box-shadow .5s 0s;
    transition-timing-function: ease-out;

}

.button:active {
    background: #a33830;
}

.button:hover {
    color: #fff;
    background: #29303a;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .7);
}

.button:focus {
    outline: none;
}


.btn-icon {
    transition: opacity .5s ease-in-out .3s, left .5s ease-out .3s;
}

.button:hover .btn-icon {
    opacity: 1;
    left: 61%;
}

.button:hover .fa-book {
    opacity: 1;
    left: 95px;
}



.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    min-height: 0;
}
.container {
    padding-left: 0;
    padding-right: 0;
}

.container1 {
    margin-right: auto;
    margin-left: auto;
}

footer {
    padding: 50px 0;
    background: black;
}

footer p {
    margin: 0;
    letter-spacing: .2em;
    font-size: 13px;
    color: black;
}

.grey_section {
    height: 200px;
    width: 100%;
    background: #272b2d;
}

.grey_section h2 {
    padding-top: 75px;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}



h4 {
    font-size: 3vmax;
}


p {
    color: black;
    margin: 0 0 25px;
    font-size: 2.5vmax;
    line-height: 1.5;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.section_header {
    padding: 3.5em 0 2em;
    background-color:  #29303a;
    margin-bottom: 4em;
}

.section_header h2 {
    font-size: 3.5vmax;
    font-weight: bold;
    letter-spacing: 0.5em;
}

.section_header h1:after,
.section_header h2:after,
.section_header h3:after,
.section_header h4:after,
.section_header h5:after,
.section_header h6:after {
    content: "";
    display: block;
    width: 3.875em;
    height: 1px;
    background: rgba(255, 255, 255, 0.2);
    margin: 1.500em auto 0;
    position: relative;
    left: -3px;

}

.section_header h1::after,
.section_header h2::after,
.section_header h3::after,
.section_header h4::after,
.section_header h5::after,
.section_header h6::after {
    background-color: #FFFFFF;
    margin-top: .4em;
}

.section-top-padding {
    padding-top: 200px;
}

.table {
    font-size: 2.5vmax;
}

table a:not(.btn), .table a:not(.btn) {
    text-decoration: none;
}

.text-italic {
    font-style: italic;
}

.text-uppercase {
    transform: uppercase;
}

.text-bold {
    font-weight: bold;
}

.text-spacing {
    letter-spacing: .2em;
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}


/*GENERAL CLASSES END*/



/*GENERAL ID START*/

/*GENERAL ID END*/

/*NAVIGATION START*/
.navbar {
    border: none;
}

.navbar-brand {
    font-size: 5.5vw;
}

.navbar-default {
    background-color: transparent;
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid white;
    text-transform: uppercase;
    font-family: 'Sansation Bold';
    background-color: hsla(0, 0%, 11%, 1);
    padding-bottom: 10px;

    color: #999;
}
.navbar-custom .navbar-brand span:nth-of-type(2){
    font-size: 5vw;
}
.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}



.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: grey;
}

.navbar-custom a {
    color: #999;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    color: red;
    background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
}

.navbar-custom .nav li.active {
    outline: 0;
}

.navbar-custom .nav li.active a {
    background-color: rgba(255,255,255,.3);
}

.navbar-custom .nav li.active a:hover {
    color: red;
}

.navbar-nav {
    font-size: 4vw;
    font-family: 'PT Sans', sans-serif;
}
.navbar-default .navbar-toggle {
    border-color: #8a8787;
}
.navbar-toggle {
    border: 1px solid #8a8787;
    margin-right: 23px;
}


/*NAVIGATION END*/

/*PAGE 1 CLASSES START*/


/*Layout around the C in Corr*/
.ball-wrap a:nth-of-type(1) {
    left: -17px;
    top: -27px;
}

.ball-wrap a:nth-of-type(2) {
    top: 17px;
    left: -106px;
}

.ball-wrap a:nth-of-type(3) {
    top: 72px;
    left: -118px;
}

.ball-wrap a:nth-of-type(4) {
    top: 132px;
    right: 100px;
}

.ball-wrap a:nth-of-type(5) {
    top: 193px;
    right: 41px;
}
/* End Layout around the C in Corr*/


/*original bottom center layout*/
/*.ball-wrap a:nth-of-type(1) {*/
    /*left: -90px;*/
    /*top: 15px;*/
/*}*/

/*.ball-wrap a:nth-of-type(2) {*/
    /*top: 132px;*/
    /*left: -75px;*/
/*}*/

/*.ball-wrap a:nth-of-type(3) {*/
    /*top: 192px;*/
    /*left: 150px;*/
/*}*/

/*.ball-wrap a:nth-of-type(4) {*/
    /*top: 132px;*/
    /*right: -58px;*/
/*}*/

/*.ball-wrap a:nth-of-type(5) {*/
    /*top: 15px;*/
    /*right: -157px;*/
/*}*/

/* end original bottom center layout*/

.bg-image {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    object-fit: contain;
    background: url('../img/stock-colorized.jpg');
    background-size: cover;
    z-index: -1;
}


.brand-heading {

    margin-top: 35px;
    /*background: #656565;*/
    /*width: 95%;*/
    margin: auto;
    color: red;
    letter-spacing: 10px;
    /*padding: 18px;*/
}
.brand-heading span {
    background: #656565;
    padding: 18px;
    /*border-top-left-radius: 45px;*/
    /*border-bottom-left-radius: 45px;*/
}

.brand-heading span span {
    padding: 0;
}



.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid white;
    border-radius: 100%!important;
    font-size: 40px;
    color: indianred;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}
.btn-circle {
    z-index: 2;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: indianred;
    background: rgba(255,255,255,.1);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

/*Layout around the C in Corr*/
.circle-wrap {
    /*width: 400px;*/
    position: inherit;
    margin: auto;
    display: table;
}
.circle {

    background-color: rgba(204, 0, 102, 0);
    /* border: 3px solid #000; */
    height: 200px;
    width: 100px;
    /* -webkit-border-radius: 75px; */
    -moz-border-radius: 75px;
    /* background-color: #c06; */
    /* height: 150px; */
    /* width: 150px; */
    -moz-border-radius: 150px 0 0 0;
    /* border-radius: 178px 68px 0px 178px; */
    border-right: none;
    -moz-border-radius: 150px 0 0 150px;
    border-radius: 150px 0 0 150px;
    /* border-radius: 200px 0 200px 0px; */
    position: absolute;
    height: 200px;
    left: calc(11vw - 100px);
    /* width: 400px; */
    border: 25px solid white;
    /* border-top: none; */
    border-bottom: none;
    z-index: 0;
    margin: auto;
    z-index: 4;
    /* border-radius: 0 0 200px 200px; */
    /* position: absolute; */
    /* height: 200px; */
    /* left: calc(50vw - 200px); */
    /* width: 400px; */
    /* border: 25px solid grey; */
    border-top: none;
    border-right: none;
    /* z-index: 0; */
    /* margin: auto; */
    top: 4%;
}

/*End Layout around the C in Corr*/

/*original bottom center layout*/

/*.circle-wrap {*/
    /*width: 400px;*/
    /*position: inherit;*/
    /*margin: auto;*/
    /*display: table;*/
/*}*/
/*.circle {*/
    /*border-radius: 0 0 200px 200px;*/
    /*position: absolute;*/
    /*height: 200px;*/
    /*left: calc(50vw - 200px);*/
    /*width: 400px;*/
    /*border: 25px solid grey;*/
    /*border-top: none;*/
    /*z-index: 0;*/
    /*margin: auto;*/
/*}*/

/*end original bottom center layout*/

/*// rename so it comes before globe*/
.grey_ball {
    background: dimgrey;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 1px solid #ccc;
    position: absolute;
    z-index: 1;
}

.green_ball {
    background: #00C762;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 3px solid #ccc;
    position: absolute;
    z-index: 1;
}

/*rename end*/


.globe {
    margin-top: 2px;
    margin-left: 10px;
    display: inline-flex;
    width: 25px;
    height: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 40px;
    position: relative;
    transition: transform .75s ease-in-out, box-shadow .5s ease-in-out;
    -webkid-transition:  transform .75s ease-in-out, box-shadow .5s ease-in-out;
}

.globe:focus {
    outline:none;
}

.globe-text {
    color: lightgray;
    /*color: #aaa;*/
    font-size: 18px;
    transition: color 1s ease;
}

.globe-text-small {
    font-size: 7px;
}

.globe-text-large{
    font-size:20px;
    top: 30%;
    font-family: 'Sansation Bold';
    text-transform: uppercase;
}

.ball-wrap {
    display: none;
}


.blue_ball {
    left: 4px;
    background: #2F9BC1;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 3px solid #ccc;
    z-index: 2;
}

.grey_ball i {
    margin: auto;
    color: cornflowerblue;
    font-size: 15px;
}


/*Changed for half-circle navigation on C*/

.half_circle_navigation {
    display: none;
}



.intro {
    display: table;
    width: 100%;
    height: 100vh;
    padding: 100px 0;
    text-align: center;
    color: rgba(153,153,153,.7);
    /*This is for iphone5*/
    padding-bottom: 32vh;

    background-color: hsla(0, 0%, 0%, 0);
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    transition: background-color .25s ease-in-out;
    -moz-transition: background-color.25s ease-in-out;
    -webkit-transition: background-color .25s ease-in-out;

}

.intro_bottom {
    position: absolute;
    background-color: hsla(0, 0%, 0%, .65);
    height: 29vh;
    width: 100%;
    top: 71vh;
}

.intro.fadeOut {
    background-color: hsla(0, 0%, 0%, 1);
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
    transition: opacity .25s ease-in-out;
}
.intro-body.fadeAway {
    opacity: 0;
}

.intro .intro-body .brand-heading {
    /*font-size: 70px;*/
    font-size: 7vw;
    white-space: nowrap;
}



.intro .intro-body .brand-heading .text-heading-medium {
    font-size: 6.5vw;
    /*font-size: 65px;*/
}

.intro .intro-body .intro-text {
    font-size: 18px;
}

.intro_bottom {
    display: none;
}

.maintitle {
    z-index: 1;
}

.shapewrap {
    display: inline-flex;
    align-items: center;
    width: 200px;
    height: 50px;
    position: absolute;
}

.shapewrap:focus{
    outline: none;
    overflow: visible;
}

.shapewrap:hover .globe-text{
    color: white;


}

.shapewrap:hover .globe {
    box-shadow: 0 0 5px 5px silver;  /* inner white */
}

.shape_wrapper {
    position: absolute;
    cursor: pointer;
}

.shapewrapper .img {
    height: 100px;
    width: 100px;
}


.wheel-link {
    position: absolute;
    display: inline-flex;
    opacity: 0;
    transition: opacity .25s ease-in-out;
}

.wheel-link.wheel-show {
    opacity: 1;
}

.wheel-link:hover .globe-text{
    color: white;


}

.wheel-link:hover .globe {
    box-shadow: 0 0 5px 5px silver;  /* inner white */
    /*overflow: visible;*/
}

/*PAGE 1 CLASSES END*/


/*PAGE 1 ID START*/



#bg-canvas {
    width: 69vw;
    position: absolute;
    top: -26vh;
    left: -4vw;
    z-index: -1;
}


#bg-canvas {
    /* height: 100vw; */
    /* width: 100vw; */
    /*position: absolute;*/
    /*top: -349vh;*/
    /*left: -6vw;*/
    /*z-index: -1;*/
}

#globe_three {
    /*display: block;*/
}

#globe_three_text {
    /*position: relative;*/
    /*left: -5px;*/
}

#jewelry {
    left: -100px;
    top: 60px;
}
#jewelry .globe {
    background: #8f86b6;
}
#tele {
    top: 60px;
    left: 10px;
}

#tele .globe {
    background: #8f86b6;
}

#energy {

    top: 60px;
    left: 140px;

}
#energy .globe {
    background: #8f86b6;

}

#benefits {

    top: 60px;
    left: 250px;

}
#benefits .globe {
    background: #8f86b6;

}

#art {

    top: 60px;
    left: 360px;

}
#art .globe {
    background: #8f86b6;

}

/*PAGE 1 ID END*/

/*PAGE 2 CLASSES START*/

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
    /*display: table-cell;*/
    /*vertical-align: middle;*/
}

.back a h2 {
    display: table-row;
}

.back a h2 span {
    font-size: 3.2vmax;
}

.back a h2 span:nth-of-type(2) {
    font-size: 2.4vmax;
}

.tile-mobile .text-overlay h2 span {
     font-size: 3vmax;
    margin-bottom: 0;
}

.tile-mobile .text-overlay h2 span:nth-of-type(2) {
    font-size: 2.5vmax;
    margin-bottom: 0;
}



.brand-heading, .flip-container {
    font-family: "Sansation Bold";
}

.companies-desktop {
    display: none;
    width: 90vw;
    max-width: 675px;
    max-height: 675px;
}

.companies-mobile {
    display: table;
}

.flip-container {
    width: 100%;
    height: 100%;
}

.flip-container, .front, .back {
    height: 100%;
    width: 100%;
}
.flip-container, .front img {
    overflow: hidden;
}

.tile-odd:hover .flipper  {
    transform: rotateY(180deg);
}
/* flip the pane when hovered */
/*.flip-container:hover .flipper {*/
    /*transform: rotateY(180deg);*/
/*}*/





/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
    height: 100%;
    width: 100%;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
}



/* front pane, placed above back */
.front {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

.front img {
    height: 100%;
}



.table-companies {
    margin: auto;
}

.companies-mobile > tbody > tr > td {
    position: relative;
    /*height: calc(33vw - 80px);*/
    /*width: calc(33vw - 80px);*/
    height: 30vw;
    width: 30vw;
}
.companies-desktop > tbody > tr > td {
    height: 25vh;
    width: 30vw;
    max-width: 225px;
    max-height: 225px;


}

.tile {
    opacity: 0;
    transition: opacity .15s ease-in-out;
}

.tile-mobile .image-underlay {
    /*opacity: 0;*/
    position: absolute;
    top: 0;

    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    overflow: auto;

    z-index: -1
}

.tile-mobile .text-overlay {
    position: relative;
}

.tile-mobile.tile-odd {



    font-family: 'PT Sans', arial, serif;
    /*color:#ffffff;*/
    /*text-align:center;*/
    /*font-size:24px;*/
    /*font-weight:bold;*/
    /*padding:10px;*/

    text-shadow: /* Simulating Text Stroke */
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;

    /*border: 1px solid rgba(0,0,0,0.5);*/
    /*border-bottom: 3px solid rgba(0,0,0,0.5);*/

    /*-webkit-border-radius: 4em;*/
    /*-moz-border-radius: 4em;*/
    /*border-radius: 4em;*/

    /*border-radius: 3px;*/
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    /*background: rgba(0,0,0,0.25);*/

    background: -webkit-linear-gradient(top,rgba(255,0,0,0),rgba(0,0,0,1));
    background: -o-linear-gradient(top,rgba(255,0,0,0),rgba(0,0,0,1)); /*Opera 11.1-12*/
    background: -moz-linear-gradient(top,rgba(255,0,0,0),rgba(0,0,0,1)); /*Fx 3.6-15*/
    background: linear-gradient(to top, rgba(255,0,0,0), rgba(0,0,0,1)); /*Standard*/

    -o-box-shadow:
            0 2px 8px rgba(0,0,0,0.5),
            inset 0 1px rgba(255,255,255,0.3),
            inset 0 10px rgba(255,255,255,0.2),
            inset 0 10px 20px rgba(255,255,255,0.25),
            inset 0 -15px 30px rgba(0,0,0,0.3);

    -webkit-box-shadow:
            0 2px 8px rgba(0,0,0,0.5),
            inset 0 1px rgba(255,255,255,0.3),
            inset 0 10px rgba(255,255,255,0.2),
            inset 0 10px 20px rgba(255,255,255,0.25),
            inset 0 -15px 30px rgba(0,0,0,0.3);

    -moz-box-shadow:
            0 2px 8px rgba(0,0,0,0.5),
            inset 0 1px rgba(255,255,255,0.3),
            inset 0 10px rgba(255,255,255,0.2),
            inset 0 10px 20px rgba(255,255,255,0.25),
            inset 0 -15px 30px rgba(0,0,0,0.3);

    box-shadow:
            0 2px 8px rgba(0,0,0,0.5), /* Exterior Shadow */
            inset 0 1px rgba(255,255,255,0.3), /* Top light Line */
            inset 0 10px rgba(255,255,255,0.2), /* Top Light Shadow */
            inset 0 10px 20px rgba(255,255,255,0.25), /* Sides Light Shadow */
            inset 0 -15px 30px rgba(0,0,0,0.3); /* Dark Background */

    /*margin: 40px;*/
    /*display: inline-block;*/
    text-decoration: none;
    -webkit-transition: box-shadow .5s -webkit-transform .5s;
    transition: box-shadow .5s, transform .5s;

}

.tile-mobile.tile-odd:hover {

    -o-box-shadow:
            0 2px 8px rgba(0,0,0,0.5),
            inset 0 1px rgba(179, 240, 255,0.3),
            inset 0 10px rgba(179, 240, 255,0.2),
            inset 0 10px 20px rgba(179, 240, 255,0.25),
            inset 0 -15px 30px rgba(0,0,0,0.3);
    /*background: #7ae4ff;*/

    -webkit-box-shadow:
            0 2px 8px rgba(0,0,0,0.5),
            inset 0 1px rgba(179, 240, 255,0.3),
            inset 0 10px rgba(179, 240, 255,0.2),
            inset 0 10px 20px rgba(179, 240, 255,0.25),
            inset 0 -15px 30px rgba(0,0,0,0.3);

    -moz-box-shadow:
            0 2px 8px rgba(0,0,0,0.5),
            inset 0 1px rgba(179, 240, 255,0.3),
            inset 0 10px rgba(179, 240, 255,0.2),
            inset 0 10px 20px rgba(179, 240, 255,0.25),
            inset 0 -15px 30px rgba(0,0,0,0.3);

    box-shadow:
            0 2px 8px rgba(0,0,0,0.5), /* Exterior Shadow */
            inset 0 1px rgba(179, 240, 255,0.3), /* Top light Line */
            inset 0 10px rgba(179, 240, 255,0.2), /* Top Light Shadow */
            inset 0 10px 20px rgba(179, 240, 255,0.25), /* Sides Light Shadow */
            inset 0 -15px 30px rgba(0,0,0,0.3); /* Dark Background */


}

.tile.tile-show {
    opacity: 1;
}



.tile-even {
    /*background: #29303a;*/
}

.tile-inline-block {
    font-family: "Sansation Bold";
    font-size: 2vh;
}

.tile-odd {
    background: white;
}


.tile-odd a {

    color: white;
}

.tile-odd:hover a{
    color: red;
}
.tile-inline-block {

    display: inline-block;
}



.tile-text-medium {
    font-size: 3.2vmax;

}

.tile-odd {
    color: white;

}


.tile-text-nowhitespace {
    white-space: pre-wrap;
}

/*PAGE 2 CLASSES END*/

/*PAGE 2 ID START*/



#company {
    background: hsla(200, 7%, 16%, .75);
    padding: 0;
}

#companies {
    margin-bottom: 4em;
}
#companies, #team {
    padding: 0;
}

#span_telemed {
    font-size: 3.5vw;
}

#span-mobile-telemed {
    font-size: 3.5vw;
}

/*PAGE 2 ID END*/


/*PAGE 3 CLASSES START*/
.btn-icon {
    opacity: 0;
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url('../img/envelope.svg');
    position: absolute;
    left: 45%;
    top: 68%;
}

.company_wrapper {
    position: relative;
    width: 100%;
    max-width: 375px;
    margin: 0 auto;
    width: 65%;
    height: 200px;
}

.fa-book {
    opacity: 0;
    display: inline-block;
    position: absolute;
    left: 30px;
    top: 13px;
    transition: opacity .5s ease-in-out .3s, left .5s ease-out .3s;
}
.photo {
    position: relative;
    line-height: 0;
    overflow: hidden;
    margin-bottom: 2em;

    margin: 0 auto;
}

.photo-overlay {
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photo-container {
    margin: auto 0 4em 0;
    text-align: center;
}

.photo-container img {
    margin: auto;
    max-width: 100%;
}
.photo-overlay {
    opacity: 0;
    transition: opacity .5s;
}

.photo-overlay h3,
.photo-overlay p {
    color: white;
}



.photo-overlay .button {
    display: none;
}

.photo img {
    transition: transform .5s;
}

.photo-text-overlay {
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-left: 20px;
    padding-right: 20px;

    display: flex; /* For centering text inside .photo-overlay */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

.photo-overlay {
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-left: 20px;
    padding-right: 20px;
    opacity: 1;

    display: flex; /* For centering text inside .photo-overlay */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0, .5);
}




.photo-overlay h3 {

    font-size: 3.3vh;
    white-space: nowrap;
}

.photo-overlay p {
    font-size: 3vw;
}

.team-member h3 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
}

/*PAGE 3 CLASSES END*/

/*PAGE 3 ID START*/

#team {
    width: 100%;
    background: white;
}

#team_column {
    padding-left: 0;
    padding-right: 0;
}


/*PAGE 3 ID END*/

/*PAGE 4 CLASS START*/

/*PAGE 4 CLASS END*/

/*PAGE 4 ID START*/

#contact {
    background-color: #29303a;
    padding: 3.5em 0 2em;
}

#contact h2 {
    font-size: 3.5vmax;
    font-weight: bold;
    letter-spacing: 0.5em;
    margin-bottom: 2em;
}
#contact h2:after {
    content: "";
    display: block;
    width: 3.875em;
    height: 1px;
    /*background: rgba(255, 255, 255, 0.2);*/
    margin: 1.500em auto 0;
    position: relative;
    left: -3px;
    background-color: #FFFFFF;
    margin-top: .4em;
}

/*#contact a {*/
    /*color: black;*/
/*}*/



/*PAGE 4 ID END*/


/*MODAL 1 BEGIN*/

hr.bio {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 180px;
    border: 0;
    border-top: solid 3px;
    text-align: center;
    color: grey;
}

hr.star-light,
hr.star-primary {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 180px;
    border: 0;
    border-top: solid 3px;
    text-align: center;
}

hr.star-light:after,
hr.star-primary:after {
    content: "\f1b2";
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-family: FontAwesome;
    font-size: 1em;
}

hr.star-light:hover:after,
hr.star-primary:hover:after
{
    transform: rotate(-20deg);
    transition: transform .5s cubic-bezier(.7,-0.39,.31,1.38);
}

hr.star-light {
    border-color: #fff;
}

hr.star-light:after {
    color: #fff;
    background-color: hsla(229, 60%, 21%, 1);
}

hr.star-primary {
    border-color: #2c3e50;
}

hr.star-primary:after {
    color: #2c3e50;
}

.h2-medium {
    font-family: 'PT Sans', sans-serif;
}



.left-span {
    text-align: left;
    float: left;
    width: 100%;
    font-size: 2.5vmax;
}

.modal-body > li {
    padding-left: 25px;

}


.left-align {
    text-align: left;
}


.list-circle {
    list-style: circle;
}


.li-text-medium {
    font-size: 2.5vmax;
}

.people-icon {
    transition: transform .5s;
}

.people-icon:hover {
    transform: rotate(-20deg);
}




#portfolio {
    background-color: hsla(0, 0%, 99%, 1);
}

#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

#portfolio .portfolio-item .portfolio-link .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: hsla(229, 22%, 21%, 1);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#portfolio .portfolio-item .portfolio-link .caption:hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
    margin: 0;
}

#portfolio * {
    z-index: 2;
}

.portfolio-modal .modal-content {
    color: black;
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.portfolio-modal .modal-content h2 {
    margin: 0;
    font-size: 6vmax;
    color: black;
    font-family: "Sansation Bold";
}

.portfolio-modal .modal-content h2 span:nth-of-type(2) {
    font-size: 5vmax;

}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .modal-content .item-details {
    margin: 30px 0;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}
#portfolioModal6 .close-modal:hover,
#portfolioModal7 .close-modal:hover,
#portfolioModal8 .close-modal:hover {
    opacity: 1;
}

#portfolioModal6 .close-modal:hover .lr,
#portfolioModal6 .close-modal:hover .lr .rl,
#portfolioModal7 .close-modal:hover .lr,
#portfolioModal7 .close-modal:hover .lr .rl,
#portfolioModal8 .close-modal:hover .lr,
#portfolioModal8 .close-modal:hover .lr .rl
{

    background-color: white;
}

.portfolio-modal .close-modal .box-close {
    color: #8a8787;
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 60px;
}

.portfolio-modal .close-modal .box-close i {
    font-size: 2em;
}


.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: red;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: red;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.portfolio-modal .modal-backdrop {
    display: none;
    opacity: 0;
}

#portfolioModal3 {
    background-image: url('../img/stock-photo-wind-turbines-in-oiz-eolic-park-at-sunset-269002526.jpg');
    background-size: cover;
}

#portfolioModal2 {
    background-image: url('../img/stock-photo-prescription-rx-medicine-bottles-on-white-background-243602188 .jpg');
    background-size: cover;
}

#portfolioModal1 {
    background-image: url('../img/stock-photo-portrait-of-beautiful-blonde-woman-in-black-dress-fashion-photo-127612799.jpg');
    background-size: cover;
}

#portfolioModal5 {
    background-image: url('../img/stock-photo-vienna-austria-august-the-leopold-museum-housed-in-the-museumsquartier-in-vienna-is-318414821.jpg');
    background-size: cover;
}

#portfolioModal4 {
    background-image: url('../img/stock-photo-closeup-of-an-employee-benefit-package-86250418.jpg');
    background-size: cover;
}

#portfolioModal3 > .modal-content,
#portfolioModal2 > .modal-content,
#portfolioModal1 > .modal-content,
#portfolioModal5 > .modal-content,
#portfolioModal4 > .modal-content
{
    background-color: transparent;
}

#portfolioModal9 > .modal-content,
#portfolioModal8 > .modal-content,
#portfolioModal7 > .modal-content,
#portfolioModal6 > .modal-content {
    background-color: black;
}

#portfolioModal3 > .modal-content > .container,
#portfolioModal1 > .modal-content > .container,
#portfolioModal2 > .modal-content > .container,
#portfolioModal5 > .modal-content > .container,
#portfolioModal4 > .modal-content > .container {
    background-color: hsla(0, 0%, 100%, .65);
}

.references {
    font-size: 2.3vmax;
}

.span-header {
    font-size: 4.5vmax;
}

.span-subheader {
    font-size: 3.5vmax;
}


.strategy-table {
    position: relative;
    width: 100%;
    margin: 0 auto;
    font-size: 1em;
}

.span-in-line {
    display: inline;

}

.table-sm > tbody >tr >td {
    text-align: left;
}

.table-wrapper {
    position: relative;
    width: 100%;
    max-width: 375px;
    max-width: 375px;
    margin: 0 auto;
}

.text-margin-bottom {
    margin-bottom: 3vh;
}

.text-underline {
    text-decoration: underline;
}

.ul-table {
    display: table;
    font-size: 2.5vmax;
}

/*MODAL 1 END*/


/*MODAL 2 BEGIN*/

/*MODAL 2 END*/

/*MEDIA QUERIES BEGIN*/
@media only screen and
(min-device-width:320px) {


}

/*iphone 5 portrait*/
@media only screen and
(min-device-width: 320px) and
(max-device-height: 568px)  and
(orientation: portrait) {
    .brand-heading {
        margin-top: 40%;
    }

    .btn-circle {
        margin-top: 50%;
    }

    .circle {

        height: 200px;
        width: 100px;
        border-right: none;
        position: absolute;
        height: 75px;
        border: 10px solid red;
        border-bottom: none;
        /*margin: auto;*/
        border-top: none;
        border-right: none;
        left: 11vw;
        top: 85px;
    }


}

/*iphone 5 LS*/
@media only screen and
(min-device-width: 320px) and
(max-device-height: 568px) and
(orientation: landscape) {
    .bg-image {
        height: 120vh;
    }

    .brand-heading {
        margin-top: 7%;
    }

    .btn-circle {
        margin-top: 10%
    }

    .circle {

        height: 200px;
        width: 100px;
        border-right: none;
        position: absolute;
        height: 75px;
        border: 10px solid red;
        border-bottom: none;
        /*margin: auto;*/
        border-top: none;
        border-right: none;
        left: 19vw;
        top: 8px;
    }

    .companies-mobile > tbody > tr > td {
        height: 25vw;
        width: 25vw;
    }

    .navbar-brand {
        font-size: 5.5vh;
    }

    .navbar-custom .navbar-brand span:nth-of-type(2) {
        font-size: 4.5vh;
    }

    .navbar-nav {
        font-size: 4.3vh;
    }

    .photo-container img {
        max-width: 80%;
    }

    .tile-mobile .text-overlay h2 span {
        font-size: 5.5vw;
    }

    .tile-mobile .text-overlay h2 span:nth-of-type(2) {
        font-size: 4vw;
    }

    #span-mobile-telemed {
        font-size: 2.5vw;
    }
}
/*iphone 6 portrait*/
@media only screen and
(min-device-width:375px) and
(max-device-height:667px) and
(orientation: portrait) {
    .brand-heading {
        margin-top: 40%;
    }

    .btn-circle {
        margin-top: 50%
    }

    .circle {

        height: 200px;
        width: 100px;
        border-right: none;
        position: absolute;
        height: 75px;
        border: 10px solid red;
        border-bottom: none;
        /*margin: auto;*/
        border-top: none;
        border-right: none;
        left: 14vw;
        top: 97px;
    }

}
/*iphone 6 landscape*/

@media only screen and
(min-device-width: 375px) and
(max-device-height: 667px) and
(orientation: landscape) {

    .brand-heading {
        /*width: 67%;*/
    }

    .circle {

        height: 200px;
        width: 100px;
        border-right: none;
        position: absolute;
        height: 75px;
        border: 10px solid red;
        border-bottom: none;
        /*margin: auto;*/
        border-top: none;
        border-right: none;
        left: 20vw;
        top: 13px;
    }

    .portfolio-modal .close-modal .box-close i {
        font-size: 2.5em;
    }

    h1, .h1, h2, .h2, h3, .h3 {
        margin-top: 0px;
    }
    .back {
        transform: rotateY(180deg);
        /*padding-top: 12vh;*/
    }

    .back a h2 span {
        font-size: 4.2vmax;
    }
    .back a h2 span:nth-of-type(2) {
        font-size: 3.8vmax;
    }

    .photo-overlay {
        margin-left: 10%;
        margin-right: 10%;
    }

    .photo-overlay h3 {
        font-size: 5.3vmax;
    }

    .photo-overlay p {
        font-size: 3.2vmax;
    }
    #span_telemed {
        font-size: 3vmax;
    }

    #tile-art .flip-container .back h2 {
        /*margin-top: 5%;*/
    }

}
@media only screen and
(min-device-width:414px) and
(max-device-height:736px) and
(orientation: portrait){

    .brand-heading {
        margin-top: 40%;
    }

    .btn-circle {
        margin-top: 50%
    }

    .circle {

        height: 200px;
        width: 100px;
        border-right: none;
        position: absolute;
        height: 75px;
        border: 10px solid red;
        border-bottom: none;
        /*margin: auto;*/
        border-top: none;
        border-right: none;
        left: 16vw;
        top: 104px;
    }


    #span_telemed {
        font-size: 2.4vmax;
    }
}

@media only screen and
(min-device-width:414px) and
(max-device-height:736px) and
(orientation: landscape){

    .brand-heading {
        margin-top: 7%;
    }

    .btn-circle {
        margin-top: 10%
    }


    .circle {

        left: 21vw;
        top: 20px;
    }

}
@media(min-width:474px) {


}

@media only screen and
(min-width:650px) {
    .photo {
        max-width: 85%;
    }
}

@media only screen and
(min-width:767px) {
    .content-section {
        padding: 0;
    }

    .download-section {
        padding: 100px 0;
    }

    #map {
        height: 400px;
        margin-top: 250px;
    }
}

@media only screen and
(max-width:767px) {
    ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}

/*ipad*/

@media only screen and
(min-device-width:768px)
and (max-device-width : 1024px)
and (orientation : portrait){

    .brand-heading {
        margin-top: 40%;
    }

    .btn-circle {
        margin-top: 50%
    }

    .circle {
        left: 21vw;
        top: 159px;
        height: 100px;
        border: 15px solid red;
        border-top: none;
        border-right: none;
        border-bottom: none;
    }

    .portfolio-modal .close-modal .box-close {
    margin-left: 30px;
    }

    .container {
        width: 100%
    }

    .navbar-brand {
        font-size: 3.5vw;
    }

    .navbar-custom .navbar-brand span:nth-of-type(2) {
        font-size: 3vw;
    }
    .navbar-nav {
        font-size: 2.5vw;
    }

    .photo {
        /*This is to keep the image within the container.  This was added for the current photo*/
        max-width: 53%;
    }


    .photo-overlay h3 {
        font-size: 2.3vh;
    }

    .photo-overlay p {
        font-size: 2vh;
    }
}

/*ipad landscape*/

@media only screen and
(min-device-width:768px)
and (max-device-width : 1024px)
and (orientation : landscape){

    .brand-heading {
        margin-top: 7%;
    }

    .btn-circle {
        margin-top: 10%
    }

    .circle {
        left: 6vw;
        /*top: 8px;*/
        height: 140px;
        border: 15px solid white;
        border-top: none;
        border-right: none;
        border-bottom: none;
    }

    .container {
        width: 100%
    }

    .navbar-brand {
        font-size: 3.5vw;
    }

    .navbar-custom .navbar-brand span:nth-of-type(2) {
        font-size: 3vw;
    }
    .navbar-nav {
        font-size: 1.75vw;
    }


    .photo-overlay h3 {
        font-size: 3.3vh;
    }

    .photo-overlay p {
        font-size: 2.5vh;
    }

    #tile-art .flip-container .back h2 {
        /*margin-top: 30%;*/
    }
}

 /*DESKTOPS START*/
@media only screen and
(min-device-width:769px) and
(min-device-width: 1200px) {

    .ball-wrap {
        display: block;
    }
    .back a h2 span {
        font-size: 4.5vmax;
    }

    .back a h2 span:nth-of-type(2) {
        font-size: 3.2vmax;
    }


    .brand-heading {
        margin-top: 7%;
    }

    .btn-circle {
        margin-top: 10%
    }

    .button .btn-icon {
        opacity: 1;
        left: 61%;
    }
    .button:hover .fa-book{
        opacity: 1;
        left: 58px;
    }





    .container {
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
    }

    #companies, #team {
        margin-top: -2px;
    }


    .fa-book {
        top: 6px;
    }

    .half_circle_navigation {
        display: block;
    }

    .navbar-brand {

        font-size: 2.5vmin;
    }
    .navbar-nav {
        font-size: 1.5vmin;
    }
    .navbar-custom .navbar-brand span:nth-of-type(2){

        font-size: 2vmin;
    }

    .photo {
        max-width: 100%;
    }


    .photo-overlay h3,
    .photo-overlay p {
        color: grey;
        transition: color .5s;
    }


    .photo-overlay:hover h3,
    .photo-overlay:hover p
    {
        color: white;
    }

    .photo-overlay:hover .button {
        opacity: 1;
    }


    .photo:hover img {
        transform: scale(1.2);
    }

    .h2-medium {
        font-size: .8em;
    }

    .h2-large {
        font-size: 1.4em;
    }

    .img-medium {
        width: 90px;
    }
    .intro {
        padding: 0;
    }

    /*.intro .intro-body .brand-heading {*/
        /*font-size: 65px;*/
    /*}*/

    /*.intro .intro-body .brand-heading .text-heading-medium {*/
        /*font-size: 65px;*/
    /*}*/

    .intro .intro-body .intro-text {
        font-size: 26px;
    }

    .left-margin {
        margin-left: 40px;

    }

    .modal-body > li {
        padding-left: 50px;

    }


    .navbar-custom {
        padding: 15px 0;
        letter-spacing: 1px;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .navbar-custom.top-nav-collapse {
        padding: 10px;
        background: hsla(0, 0%, 11%, 1)
    }
    .navbar-fixed-top .navbar-brand {

        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }



    .photo-overlay h3,
    .photo-text-overlay h3 {
        margin-top: 0;
    }

    .photo-overlay h3 {
        font-size: 2.2vw;
    }


    .photo-overlay p {
        font-size: 1.8vw;
        margin-top: 0;
        margin-bottom: 10px;
    }

    .photo-overlay .button {
        display: block;
        font-size: 1.5vmin;
        padding: 10px 30px 10px 30px;
    }

    .portfolio-modal .close-modal .box-close {
        margin-left: 30px;
    }

    .portfolio-modal .close-modal .box-close i {
        font-size: 1.5em;
    }

    .section_header {
        padding: 3.5em 0 2em;
        margin-bottom: 4em;
    }

    #span-mobile-telemed {
        font-size: 1.7vmax;
    }
    #span_telemed {
        font-size: 2.7vmax;
    }

    #tile-art .flip-container .back h2 {
        /*margin-top: 30%;*/
    }

    .tile-odd a {
        line-height: 200px;
    }


    .tile-text-medium {
        /*margin-top: 25%;*/
    }

    .tile-text-small {
        line-height: 50px;
    }

    .tile-small-text {
        line-height: 160px;
    }

}


@media only screen and
(min-width:815px) {
    .back {
        /*padding-top: 0;*/
    }
}

@media only screen and
(min-width: 992px) {
    .container {

         width: 100%;
    }
}
@media only screen and
(min-width:1024px) {
    .back {
        /*padding-top: 0;*/
    }

}


@media only screen and (min-width:1025px)
    and (max-height:925px) {

    .intro {
        height: 115vh;
    }

    .intro_bottom {
        height: 39vh;
        top: 76vh;
    }

}


@media only screen and (min-width:1025px) {


    .companies-desktop {
        display: table;
    }

    .companies-mobile {
        display: none;
    }


    #span_telemed {
        font-size: 2.3vmax;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0 0 35px;
    }

    /*Changed for new half-circle on C*/

    /*.intro_bottom {*/
        /*display: block;*/
    /*}*/

    .photo-overlay .button {
        font-size: 1.7vmin;
    }

    .photo-overlay h3 {
        padding-top: 0;
        /*font-size: 1.5vw;*/
        font-size: 2.5vw;
        margin-bottom: 0;
    }

    .photo-overlay p {
        /*font-size: 1.5vw;*/
        font-size: 2vw;
        margin: 10px 0;
    }
    .photo-overlay .button {
        display: block;
    }
    .fa-book {
        top: 8px;
    }

    .button:hover .fa-book{
        opacity: 1;
        left: 95px;

    }
    .photo-overlay .button {
        font-size: 1.5vw;
        padding: 15px 45px 15px 45px;
        border-radius: 5em;
    }

    .tile-inline-block {
        padding-top: 25%;
    }

}

@media only screen and (min-width:1025px) and
(min-height:800px) {

    /*.circle {*/
        /*left: 6vw;*/
        /*top: 8px;*/
        /*height: 140px;*/
        /*border: 15px solid red;*/
        /*border-top: none;*/
        /*border-right: none;*/
        /*border-bottom: none;*/
    /*}*/

}

@media only screen and (max-width:1199px) {


    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media only screen and (min-width:1200px) and
(min-height:1200px){
    .back a h2 span {
        font-size: 6vmax;
    }

    .back a h2 span:nth-of-type(2) {
        font-size: 3.6vmax;
    }

    #span_telemed {
        font-size: 2.8vmax;
    }
}


@media only screen and (min-width:1400px) {
    .back a h2 span {
        font-size: 4.5vmax;
    }

    .back a h2 span:nth-of-type(2) {
        font-size: 2.6vmax;
    }


    #span_telemed {
        font-size: 1.4vmax;
    }
}

@media only screen and (min-width:1600px) {
    .back a h2 span {
        font-size: 4vmax;
    }

    .back a h2 span:nth-of-type(2) {
        font-size: 2.2vmax;
    }

    .circle {
        top: 8%;
    }

    #span_telemed {
        font-size: 1.5vw;
    }
}

@media only screen and (min-width:1800px) {
    .back a h2 span {
        font-size: 3vw;
    }

    .back a h2 span:nth-of-type(2) {
        font-size: 2.2vmax;
    }

    .circle {
        top: 14%;
    }

    #span_telemed {
        font-size: 1.5vmax;
    }
}

/*@media screen and (min-width:2200px) {*/
    /*.back a h2 span {*/
        /*font-size: 3.6vmax;*/
    /*}*/

    /*.back a h2 span:nth-of-type(2) {*/
        /*font-size: 2.2vmax;*/
    /*}*/

    /*#span_telemed {*/
        /*font-size: 1.4vmax;*/
    /*}*/
/*}*/
